/* By Uk */
@import 'mixin';
@import 'fonts';
@import 'colors';

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    font-family: 'SF UI Display';
    background: #20232C;
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: #16161E;
}

body::-webkit-scrollbar-track {
    background-color: #16161E;
}

body::-webkit-scrollbar-thumb {
    background-color: #FBD54A;
    border-radius: 6px;
}

header {
    width: 100%;
    position: fixed;
    z-index: 999;
    padding: 0;
    margin: 0;
    transition: all 300ms linear;
    .navbar {
        font-weight: 100;
        padding: 2% 11%;
        height: auto;
        top: 1%;
        background: linear-gradient(to right, transparent, hsla(0, 0%, 13%, 0.616) 90%, hsla(0, 0%, 13%, 0.616) 100% );
        box-shadow: 0px 2px 10px rgba(12, 12, 12, 0.145);
        transition: all 300ms linear;

        @include xsm {
            padding: 3% 2.5%;
            top: 0;
        }
        @include sm {
            padding: 3% 2.5%;
            top: 0;
        }
        @include md {
            padding: 3% 2.5%;
            top: 0;
        }
        &.blackto {
            // background: #16161E;
            background: #20232C;
            box-shadow: 0px 2px 10px rgba(12, 12, 12, 0.678);
            padding: 1% 11%;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030;
            @include xsm {
                padding: 3% 2.5%;
                top: 0;
            }
            @include sm {
                padding: 3% 2.5%;
                top: 0;
            }
            @include md {
                padding: 3% 2.5%;
                top: 0;
            }
            .navbar-brand .logo {
                width: 50px;
                position: relative;
                top: 0;
            }
        }
        .navbar-toggler {
            outline: none;
            color: $txt_white;
        }
        .navbar-brand {
            padding: 0;
            font-size: initial;
            .logo {
                width: 90px;
                height: auto;
                position: absolute;
                top: 9%;
                @include xsm{
                    width: 50px;
                }
                @include sm{
                    width: 70px;
                }
            }
        }
        .custom-navbar-nav {
            position: relative;
            .nav-item {
                position: relative;
                // &.active{
                //     .nav-link{
                //         color: #FFE56A;
                //         &::before {
                //             // display: block;
                //             transform: scale(1, 1);
                //         }
                //     }
                // }
                .nav-link {
                    padding: 0.5rem 1.5rem;
                    color: $txt_white;
                    font-size: 16px;
                    position: relative;
                    transition: all 400ms cubic-bezier(0.29, 0.9, 0.26, 1);
                    &:hover {
                        color: hsla(50, 100%, 71%, 0.929);
                    }
                    @include xsm {
                        padding: .5rem .5rem;
                    }
                    // &::before {
                    //     content: "";
                    //     position: absolute;
                    //     left: 50%;
                    //     top: 85%;
                    //     transform: translate(-50%, -50%) scale(0, 0);
                    //     width: 6px;
                    //     height: 6px;
                    //     border-radius: 50%;
                    //     background-color: #FFE56A;
                    //     // display: none;
                    // }                    
                }
            }
        }
    }
}


.navbar-collapse{
    @include xsm{
        position: absolute;
        top: 50px;
        right: 19px;
        background: #2c2c3d;
        width: 50%;
        border-radius: 4;
    }
}

.home{
    min-height: 100vh;
    width: 100%;
    background: radial-gradient(#000000, #272A33);
    display: flex;
    align-items: center;
    padding: 3% 0.5%;
    position: relative;
    perspective: 1000px;
    perspective-origin: center;
    transform-style: preserve-3d;
    @include xsm{
        padding-top: 20%;
        padding-bottom: 20%;
    }
    // &::before {
    //     content: "";
    //     position: absolute;
    //     width: 100%;
    //     height: 40%;
    //     background-image: repeating-conic-gradient(from 45deg, #272A33 0deg 90deg, #20232C 90deg 180deg);
    //     background-size: 2em 2em;
    //     bottom: 0;
    //     transform: translate(0%, 50%) rotateX(-90deg);
    //     z-index: 1;
    //     @include xsm{
    //         width: 89%;
    //     }
    //     @include sm{
    //         width: 92%;
    //     }
    // } 
    .home-content{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        @include xsm{
            align-items: center;
            margin-bottom: 3%;
        }
        @include sm{
            align-items: center;
            margin-bottom: 3%;
        }
        .home-img{
            width: 80%;
            height: auto;
            object-fit: cover;
            animation: img 1s linear infinite;
        }
        .home-subtitle{
            color: #ffffff;
            font-size: 19px;
            margin: 30px 0px 20px 0px;
            text-transform: uppercase;
            @include xsm{
                text-align: center;
            }
            @include sm{
                text-align: center;
            }
        }
        .home-soldout{
            color: #ffff00;
            font-size: 20px;
            @include xsm{
                text-align: center;
            }
            @include sm{
                text-align: center;
            }
        }
        .home-btn{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: 130px;
            height: 37px;
            background-color: #f22157;
            border-radius: 6px;
            font-size: 17px;
            color: #ffffff;
            font-weight: 500;
            margin-left: 8px;
            text-decoration: none;
            transition: all 400ms cubic-bezier(0.29, 0.9, 0.26, 1);
            position: relative;
            z-index: 1;
            overflow: hidden;
            &:hover{
                transform: scale(1.01);
                color: #000000;
                opacity: 1;
                &::before{
                    width: 100%;
                }
            }
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 0%;
                height: 100%;
                background-color: #FFE56A;
                z-index: -1;
                transition: all 400ms 200ms cubic-bezier(0.29, 0.9, 0.26, 1);
            }   
        }
    }
}

.circle{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    background: #2D2F3C;
    border-radius: 50%;
    z-index: 6;
    @include xsm{
        width: 250px;
        height: 250px;
    }
    @include sm{
        width: 300px;
        height: 300px;
    }
    @include md{
        width: 350px;
        height: 350px;
    }
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        // border: 2px dashed #c9c9c9;
        border-radius: 50%;
        box-shadow: 3px 3px 15px rgba(91, 179, 250, 0.822), 
                -6px 6px 15px rgba(255, 72, 164, 0.836), 
                6px -6px 15px rgba(235, 117, 133, 0.8), 
                -3px -3px 15px rgba(231, 107, 175, 0.6), 
                3px -3px 15px rgba(189, 235, 117, 0.8), 
                6px -6px 15px rgba(235, 154, 117, 0.8), 
                -3px 3px 15px rgba(234, 236, 80, 0.8);
        animation: circle 6s linear infinite;
    }
    .main-imp{
        position: relative;
        width: 200px;
        height: 200px;
        transition: all 400ms ease;
        // &:hover{
        //     transform: scale(1.4);
        //     border-radius: 0px;
        // }
        @include xsm{
            width: 120px;
            height: 120px;
        }
        @include sm{
            width: 150px;
            height: 150px;
        }
        @include md{
            width: 180px;
            height: 180px;
        }
        img{
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            filter: drop-shadow(14px 22px 6px rgba(0, 0, 0, 0.596));
        }
    }
}


@keyframes circle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.solid{
    width: 120px;
    height: 120px;
    border-radius: 6px;
    background-color: #fff;
    position: absolute;
    left: -4%;
    bottom: 10%;
    z-index: 99;
    background-color: rgba(75, 75, 75, 0.329);
    box-shadow: 0px 0px 25px 5px rgba(204, 204, 204, 0.205);
    animation: solid 6s linear infinite;
    @include xsm{
        width: 90px;
        height: 90px;
        left: -15%;
    }
    @include sm{
        width: 90px;
        height: 90px;
        left: -15%;
    }
}

@keyframes solid {
    from{
        transform: rotate(-180deg) scale(1.1);
    }
}

.about-title{
    color: #FBD54A;
    font-weight: bold;
    font-size: 38px;
    width: max-content;
    position: relative;
    margin-bottom: 20px;
    @include xsm {
        font-size: 28px;
        padding-left: 14px;
        margin-bottom: 10px;
    }
    @include sm {
        font-size: 28px;
        padding-left: 14px;
        margin-bottom: 10px;
    }
    &::before {
        content: "";
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: linear-gradient(90deg, #FBD54A 0%, #FBD54A 50%, #ffffff 50%, #ffffff 100%);
        z-index: -1;
        transition: all 400ms 200ms cubic-bezier(0.29, 0.9, 0.26, 1);
        @include xsm{
            width: 15px;
            height: 15px;
            left: -3px;
        }
        @include sm{
            width: 15px;
            height: 15px;
            left: -3px;
        }
    } 
}
.about-content{
    color: #f7f7f7;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 14px;
    &:nth-last-child(1){
        margin-bottom: 2px;
    }
    @include xsm{
        font-size: 13px;
    }
    @include sm{
        font-size: 14px;
    }
}
.aboutus{
    position: relative;
    width: 100%;
    height: auto;
    padding: 4% 0%;
    perspective: 1000px;
    perspective-origin: center;
    transform-style: preserve-3d;
    background: radial-gradient(
        closest-corner at 20% 50%,
    rgba(92, 92, 92, 0.603),
    #20232C 40%) no-repeat;
    @include xsm{
        padding-bottom: 15%;
    }
    @include sm{
        padding-bottom: 15%;
    }
    &.traits{
        background: radial-gradient(
            closest-corner at 70% 50%,
        rgba(92, 92, 92, 0.603),
        #20232C 40%) no-repeat;
    }
    .about-box{
        position: relative;
    }
    .abt-lft{
        position: relative;
        min-height: 300px;
        display: flex;
        align-items: center;
        padding: 2%;
        @include xsm{
            margin-top: 10%;
        }
        @include sm{
            margin-top: 10%;
        }
        .abt-lft-bx{
            width: 150px;
            height: 200px;
            border-radius: 6px;
            padding: 8px;
            padding-bottom: 30px;
            background-color: rgb(51, 51, 51);
            box-shadow: 0px 6px 15px rgba(10, 10, 10, 0.116);
            cursor: grab;
            position: relative;
            z-index: 9;
            transform-origin: center;
            transition: all 400ms cubic-bezier(0.29, 0.9, 0.26, 1.21);
            @include xsm{
                width: 120px;
                height: 170px;
            }
            &:hover{
                background-color: #FBD54A;
                &.abt-lft-bx1, &.abt-lft-bx2, &.abt-lft-bx3{
                    animation: 0;
                }
            }
            &.abt-lft-bx1, &.abt-lft-bx2, &.abt-lft-bx3{
                transition: all 400ms cubic-bezier(0.29, 0.9, 0.26, 1.21);
            }
            &.abt-lft-bx1{
                animation: flip 2s 100ms linear infinite alternate;

            }
            &.abt-lft-bx2{
                position: absolute;
                top: -6%;
                left: 20%;
                z-index: 8;
                animation: flip 1.4s 600ms linear infinite alternate;
            }
            &.abt-lft-bx3{
                position: absolute;
                bottom: -6%;
                left: 25%;
                z-index: 10;
                animation: flip 1.6s 400ms linear infinite alternate;
            }
            .abt-lft-bx-img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 6px;
            }
        }
    }
}

.traits-rt{
    position: relative;
    min-height: 300px;
    display: flex;
    align-items: center;
    padding: 2%;
    @include xsm {
        min-height: 200px;
        margin: 7% 0%;
    }
    @include sm {
        min-height: 240px;
        margin: 5% 0%;
    }
    .traits-rt-bx{
        width: 140px;
        height: 140px;
        border-radius: 50%;
        border: 10px solid rgb(255, 255, 255);
        box-shadow: 1px 1px 20px 10px rgba(3, 3, 3, 0.233);
        transition: all 400ms cubic-bezier(0.29, 0.9, 0.26, 1.21);
        cursor: pointer;
        @include xsm{
            width: 90px;
            height: 90px;
            border-width: 5px;
        }
        @include sm{
            width: 100px;
            height: 100px;
            border-width: 6px;
        }
        &:hover{
            border-color: #FBD54A;
        }
        .traits-rt-bx-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
        &:nth-child(1){
            animation: circle-ror1 5s 0ms linear infinite;
        }
        &:nth-child(2){
            position: absolute;
            top: -12%;
            left: 40%;
            animation: circle-ror2 7s 400ms linear infinite;
        }
        &:nth-child(3){
            position: absolute;
            top: 55%;
            left: 40%;
            transform-origin: center;
            animation: circle-ror3 8s 600ms linear infinite;
        }
    }
}

@keyframes flip {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(180deg);
    }
}

@keyframes circle-ror1 {
    from{
        transform: rotate(0deg) translateX(10px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(10px) rotate(-360deg);
    }
}
@keyframes circle-ror2 {
    from{
        transform: rotate(0deg) translateX(17px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(17px) rotate(-360deg);
    }
}

@keyframes circle-ror3 {
    from{
        transform: rotate(0deg) translateX(25px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(25px) rotate(-360deg);
    }
}



// ROAD MAP
.road-map{
    width: 100%;
    height: auto;
    padding: 6% 0%;
    // background-image: url('../images/moon.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    // animation: globe 2s linear infinite;
    // background: radial-gradient(circle at 100%, #272A33, #272a33b2 50%, rgba(131, 131, 131, 0.342) 75%, #272A33 75%);
    perspective: 1000px;
    perspective-origin: center;
    transform-style: preserve-3d;
    position: relative;
    z-index: 6;
    overflow: hidden;
    & > .about-title{
        margin-bottom: 6%;
    }
    .rd-area{
        display: flex;
        flex-direction: column;
        // color: #FBD54A;
        color: #fff;
        min-height: 60vh;
        position: relative;
        z-index: 2;
        .line{
            width: 6px;
            height: 100%;
            position: absolute;
            border-left: 6px dashed #f7f7f7;
            border-top: 0;
            border-bottom: 0;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0%);
            @include xsm{
                left: 0%;
                border-width: 4px;
                transform: translate(0%, 0%);
            }
            @include sm{
                left: 0%;
                border-width: 4px;
                transform: translate(0%, 0%);
            }
            @include sm{
                border-width: 4px;
            }
        }
        .rd-main-bx{
            box-sizing: border-box;
            position: relative;
            @include xsm{
                margin-left: 40px;
                margin-bottom: 90px;
                justify-content: flex-start !important;
            }
            @include sm{
                margin-left: 70px;
                margin-bottom: 90px;
                justify-content: flex-start !important;
            }
        }

        .rd-bx{
            background-color: #2D2F3C;
            width: 350px;
            min-height: 180px;
            position: relative;
            right: 0;
            top: 30px;
            padding: 8px;
            border-radius: 8px;
            // border: 3px groove #f7f7f7;
            margin-bottom: 5%;
            cursor: pointer;
            // opacity: 0;
            display: flex;
            align-items: center;
            box-shadow: 4px 4px 15px rgba(10, 10, 10, 0.329);
            transition: all 400ms cubic-bezier(0.29, 0.9, 0.26, 1);
            z-index: 4;
            @include xsm{
                width: 100%;
                font-size: 13px;
                min-height: 130px;
            }
            @include sm{
                width: 100%;
                font-size: 13px;
                min-height: 130px;
            }
            @include md{
                width: 250px;
                font-size: 13px;
                min-height: 130px;
            }
            &:hover{
                transform: scale(1.02);
            }
            &.anim{
                opacity: 1;
                top: 0;
                border-color: #f7f7f7;
            }
            .rd-bx-badge{
                width: 60px;
                height: 100%;
                // background-color: #70706f;
                margin-right: 4px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                @include xsm{
                    width: 40px;
                }
                @include sm{
                    width: 40px;
                }
                @include md{
                    width: 40px;
                }
                img{
                    width: 30px;
                    height: auto;
                    filter: invert(0.4);
                }
            }
            .rd-bx-title{
                color: #FBD54A;
            }
            .rd-bx-txt{
                margin-bottom: 0;
            }
        }
    }
}
.rd-main-bx2{
    justify-items: flex-start !important;
    .svg-line{
        // right: 20% !important;
        // left: auto;
        left: 50%;
        transform: rotate(180deg) translate(0) rotate(0deg);
        transform-origin: 49% 27%;
        @include xsm{
            left: -42px;
        }
        @include sm{
            left: -70px;
        }
        @include md{
            left: 49.5%;
        }
    }
}
.svg-line{
    position: absolute;
    left: 40%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 0;
    // background-color: #fff;
    @include xsm{
        width: 60px;
        left: -42px;
        transform: translate(0%, 0%);
        transform: rotate(180deg) translate(0) rotate(0deg);
        transform-origin: 49% 27%;
    }
    @include sm{
        width: 90px;
        left: -70px;
        transform: translate(0%, 0%);
        transform: rotate(180deg) translate(0) rotate(0deg);
        transform-origin: 49% 27%;
    }
    @include md{
        width: 140px;
        left: 41%;
    }
    .svg-drawline{
        stroke:rgb(216, 216, 216);
        stroke-width: 6px;  
        stroke-linecap: round;
        stroke-dasharray: 1000;
        animation: dash 2s linear infinite;
    }
    .cscg-line-dot{
        // opacity: 0;
        fill: #f22157;
        animation: blink 1s 3s linear infinite alternate;        
        &.cscg-line-dot1{
            @include xsm{
                r: 17%;
            }
            @include sm{
                r: 28%;
            }
            @include md{
                r: 34%;
            }
        }
        &.cscg-line-dot2{
            @include xsm{
                r: 6;
                cx: 90%;
            }
            @include sm{
                r: 8;
                cx: 90%;
            }
            @include md{
                r: 8;
                cx: 94%;
            }
            
        }
    }
}

// @keyframes blink {
//     to {
//         opacity: 1;
//         fill: #FBD54A;
//     }
// }

// @keyframes dash {
//     from {
//       stroke-dashoffset: 1000;
//     }
// }

// footer
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 4% 0% 4% 0%;
    background: linear-gradient(to top, #2D2F3C 0%, #000000 100%);
    // background-color: #000000;
    z-index: 9;
    @include xsm{
        padding-top: 8%;
    }
    @include sm{
        padding-top: 8%;
    }
    .footer-heading{
        color: #FBD54A;
        padding: 12px 0px;
        font-weight: 500;
        font-size: 18px;
    }
    .footer-logo{
        text-decoration: none;
        img{
            width: 50%;
            height: auto;
        }
    }
    hr{
        border-top-color: #929292;
    }
    .footer-list
    {
        position: relative;
        width: 100%;
        list-style: none;
        margin: 3% 0%;
        padding-left: 0px;
        .footer-li{
            padding: 0px 0px;
            margin: 0;
            .footer-list-link{
                color: rgb(223, 223, 223);
                font-size: 14px;
                transition: all 300ms ease;
                &:hover{
                    color: #FBD54A;
                    text-decoration: none;
                }
            }
        }
    }
    .copyright{
        color: #e6e6e6;
        font-size: 14px;
    }
    .social-media{
        // width: 140px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        li{
            margin-right: 15px;
            margin-bottom: 3px;
            &:nth-last-child(1){
                margin-right: 0;
            }
        }
        
        .social-links{
            color: rgba(59, 59, 59, 0.68);;
            width: 44px;
            height: 44px;
            background-color: hsl(232, 14%, 21%);
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 2px 8px rgba(59, 59, 59, 0.12);
            // color: #e6e6e6;
            font-size: 12px;
            text-decoration: none;
            transition: all 400ms cubic-bezier(0.29, 0.9, 0.26, 1.21);
            &:hover{
                background-color: hsl(232, 14%, 29%);
                transform: scale(1.04);
                border-radius: 6px;
            }
            img{
                width: 25px;
            }
        }
    }
    svg{
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
}
